In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('data/tmdb_5000_movies.csv/tmdb_5000_movies.csv')
credits = pd.read_csv('data/tmdb_5000_credits.csv/tmdb_5000_credits.csv')

In [3]:
credits.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [4]:
# def pat(x):
#     if '""' in str(x):
#         return True
#     else:
#         return False

In [5]:
# credits['Invalid_movie_id'] = credits['title'].apply(pat)

In [6]:
movies.shape

(4803, 20)

In [9]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [ ]:
# for x in credits['title'].tolist():
#     if x not in movies1['title'].tolist():
#         print(x)

In [10]:
movies = credits.merge(movies,on='title',how='inner')

In [11]:
# movies.drop_duplicates(subset=['movie_id','title'],keep='first', inplace=True)

In [12]:
len(movies)

4809

In [ ]:
movies.isnull().sum()

In [17]:
movies[['movie_id','title']].to_csv("movie_list.csv")

In [15]:
movies
# budget
# homepage
# id
# original_language
# original_title
# popularity
# production_comapny
# production_countries
# release-date(not sure)

,movie_id,title,cast,crew,budget,genres,homepage,id,keywords,original_language,...,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,...,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,...,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",6.9,4500
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,...,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,6.3,4466
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,...,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,7.6,9106
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,...,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,...,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",6.6,238
4805,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,...,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,5.9,5
4806,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...",0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,...,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,7.0,6
4807,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",0,[],http://shanghaicalling.com/,126186,[],en,...,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,5.7,7
4808,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,...,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,6.3,16

In [18]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
import ast

In [21]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [22]:
movies.dropna(inplace=True)

C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [23]:
movies.shape

(4806, 7)

In [24]:
movies['genres'] = movies['genres'].apply(convert)
movies

C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\1162796995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(convert)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie]","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [25]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\2480151099.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(convert)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [26]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [27]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [28]:
movies['cast'] = movies['cast'].apply(convert)
movies.head()

C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\3989909256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(convert)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [29]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\2375863843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [30]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'].lower())
    return L

In [31]:
movies['crew'] = movies['crew'].apply(fetch_director)

C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\2884021428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(fetch_director)

In [32]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
4593,18045,The Dark Hours,"Dr. Samantha Goodman is a beautiful, young psy...","[Horror, Science Fiction, Thriller]","[canada, winter, hostage, olympic games, cabin...","[Kate Greenhouse, Aidan Devine, Gordon Currie]",[paul fox]
1183,9889,Shallow Hal,A shallow man falls in love with a 300 pound w...,"[Comedy, Romance]","[overweight, beauty, hypnosis, overweight man,...","[Gwyneth Paltrow, Jack Black, Jason Alexander]","[bobby farrelly, peter farrelly]"
4429,269057,Bang Bang Baby,A small town teenager in the 1960s believes he...,"[Science Fiction, Drama, Music]","[small town, rock star, musical, idol, teenage...","[Jane Levy, Peter Stormare, Justin Chatwin]",[jeffrey st. jules]
2366,146227,Getaway,Former race car driver Brent Magna (Hawke) is ...,"[Action, Crime]",[],"[Ethan Hawke, Selena Gomez, Jon Voight]",[courtney solomon]
17,1865,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,"[Adventure, Action, Fantasy]","[sea, captain, mutiny, sword, prime minister, ...","[Johnny Depp, Penélope Cruz, Ian McShane]",[rob marshall]

In [33]:
def collapse(L):
    L1 = []
    for i in L:
        i=i.lower()
        L1.append(i.replace(" ","").lower())
    return L1

In [34]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\3118682489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(collapse)
C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\3118682489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(collapse)
C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\3118682489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(collapse)
C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\3118682489.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(collapse)

In [35]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","[samworthington, zoesaldana, sigourneyweaver]",[jamescameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[danielcraig, christophwaltz, léaseydoux]",[sammendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...","[christianbale, michaelcaine, garyoldman]",[christophernolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...","[taylorkitsch, lynncollins, samanthamorton]",[andrewstanton]

In [36]:
len(movies)

4806

In [37]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\3942134491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [38]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

C:\Users\gangadhar_dxt\AppData\Local\Temp\2\ipykernel_1792\603755214.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [39]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
#new.head()

In [40]:
new['tags'] = new['tags'].apply(lambda x: " ".join([xi.lower() for xi in x]))
new.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [41]:
# new['index'] = new['movie_id']
# new = new.set_index('index')

In [42]:
new[new['movie_id']==19995].index[0]

0

In [43]:
user_id=[]
for i in range(len(new)):
    user_id.append("RSYS_UID00"+str(i))

In [44]:
user_dct = {'user_id':user_id}

In [45]:
movie_id_lst = new['movie_id'].tolist()

In [46]:
user_data = pd.DataFrame(user_dct)
user_data.head()

       user_id
0  RSYS_UID000
1  RSYS_UID001
2  RSYS_UID002
3  RSYS_UID003
4  RSYS_UID004

In [47]:
import random
user_data['watch_history1'] = random.choices(movie_id_lst, k=len(movie_id_lst))
user_data['watch_history2'] = random.choices(movie_id_lst, k=len(movie_id_lst))
user_data['watch_history3'] = random.choices(movie_id_lst, k=len(movie_id_lst))

In [48]:
user_data.head()

       user_id  watch_history1  watch_history2  watch_history3
0  RSYS_UID000           76338          109417           24363
1  RSYS_UID001            5759          157058             395
2  RSYS_UID002           44718           11977            5708
3  RSYS_UID003           11353           11024            6963
4  RSYS_UID004            5178           10034           86837

In [49]:
len(user_data)

4806

In [50]:
user_data = pd.merge(user_data,new, left_on='watch_history1',right_on='movie_id')
user_data=user_data.drop(columns=['movie_id','title'])
user_data.rename(columns={'tags':'tags1'}, inplace=True)
user_data = pd.merge(user_data,new, left_on='watch_history2',right_on='movie_id')
user_data=user_data.drop(columns=['movie_id','title'])
user_data.rename(columns={'tags':'tags2'}, inplace=True)
user_data = pd.merge(user_data,new, left_on='watch_history3',right_on='movie_id')
user_data=user_data.drop(columns=['movie_id','title'])
user_data.rename(columns={'tags':'tags3'}, inplace=True)

In [51]:
user_data.head()

,user_id,watch_history1,watch_history2,watch_history3,tags1,tags2,tags3
0,RSYS_UID000,76338,109417,24363,thor fights to restore order across the cosmos...,a down-on-his-luck coach is hired to prepare a...,an american artist living a bohemian existence...
1,RSYS_UID00267,1265,1562,24363,jesse aarons trained all summer to become the ...,"in this chilling sequel to 28 days later, the ...",an american artist living a bohemian existence...
2,RSYS_UID00494,126509,17994,24363,2016: obama's america takes audiences on a gri...,"playing around with a ouija board, a trio of f...",an american artist living a bohemian existence...
3,RSYS_UID001596,76338,13250,354624,thor fights to restore order across the cosmos...,a sociopathic kidnapper methodically pushes a ...,"passionate bmx dirt jumper, phin cooper, wants..."
4,RSYS_UID002008,111,120,354624,after getting a green card in exchange for ass...,"young hobbit frodo baggins, after inheriting a...","passionate bmx dirt jumper, phin cooper, wants..."

In [52]:
user_data['tags'] = user_data['tags1']+user_data['tags2']+user_data['tags3']
user_data=user_data.drop(columns=['tags1','tags2','tags3'])
user_data.head()

,user_id,watch_history1,watch_history2,watch_history3,tags
0,RSYS_UID000,76338,109417,24363,thor fights to restore order across the cosmos...
1,RSYS_UID00267,1265,1562,24363,jesse aarons trained all summer to become the ...
2,RSYS_UID00494,126509,17994,24363,2016: obama's america takes audiences on a gri...
3,RSYS_UID001596,76338,13250,354624,thor fights to restore order across the cosmos...
4,RSYS_UID002008,111,120,354624,after getting a green card in exchange for ass...

In [53]:
user_data.to_csv("user_data.csv")

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
cv1 = CountVectorizer(max_features=5000,stop_words='english')

In [55]:
users_vector = cv1.fit_transform(user_data['tags']).toarray()

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
user_history_similarity = cosine_similarity(users_vector)

In [58]:
user_history_similarity

array([[1.        , 0.30798111, 0.27231839, ..., 0.08144492, 0.12587099,
        0.03800819],
       [0.30798111, 1.        , 0.21248333, ..., 0.07731363, 0.10455042,
        0.07366381],
       [0.27231839, 0.21248333, 1.        , ..., 0.05127082, 0.06603142,
        0.08374358],
       ...,
       [0.08144492, 0.07731363, 0.05127082, ..., 1.        , 0.09310083,
        0.10495471],
       [0.12587099, 0.10455042, 0.06603142, ..., 0.09310083, 1.        ,
        0.06082678],
       [0.03800819, 0.07366381, 0.08374358, ..., 0.10495471, 0.06082678,
        1.        ]])

In [59]:
user_data[user_data['watch_history1']==114150]
# new[new['title'] == 'The Lego Movie'].index[0]

,user_id,watch_history1,watch_history2,watch_history3,tags
523,RSYS_UID00100,114150,606,14358,college student beca knows she does not want t...
784,RSYS_UID002493,114150,25195,36955,college student beca knows she does not want t...

In [60]:
def recommend_user(movie, cols):
    for col,mov in zip(cols, movie):
        index = user_data[user_data[col] == mov].index[0]
        distances = sorted(list(enumerate(user_history_similarity[index])),reverse=True,key = lambda x: x[1])
    #     print(distances)
        lst = []
        for i in distances[1:6]:
            lst.append(new.iloc[i[0]].title)
            print(new.iloc[i[0]].movie_id)
#             print(user_data.iloc[i[0]].watch_history1,user_data.iloc[i[0]].watch_history2,user_data.iloc[i[0]].watch_history3)
        return list(set(lst))

In [61]:
user_data1 = user_data.set_index('user_id')

In [62]:
mov1 = user_data1.loc['RSYS_UID00246','watch_history1']
mov2 = user_data1.loc['RSYS_UID00246','watch_history2']
mov3 = user_data1.loc['RSYS_UID00246','watch_history3']

[mov1, mov2,mov3]

[11932, 13919, 391]

In [63]:
recommend_user([mov1, mov2,mov3],['watch_history1','watch_history2','watch_history3'])

28902
331745
38358
80585
14164

['Top Spin',
 'The Last Exorcism',
 'Dragonball Evolution',
 'In Dreams',
 'Rock of Ages']

In [64]:
len(movies)

4806

In [65]:
movies[movies['title']=='Signed, Sealed, Delivered']


# new[new['title']=='Close Range']

,movie_id,title,overview,genres,keywords,cast,crew,tags
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[comedy, drama, romance, tvmovie]","[date, loveatfirstsight, narration, investigat...","[ericmabius, kristinbooth, crystallowe]",[scottsmith],"[""Signed,, Sealed,, Delivered"", introduces, a,..."

In [66]:
# pickle.dump(user_history_similarity,open("user_history_similarity.pkl",'wb'))
# pickle.dump(similarity,open('similarity.pkl','wb'))

# genre top

In [67]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","[samworthington, zoesaldana, sigourneyweaver]",[jamescameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [68]:
top_genres=list(movies[movies['genres'].apply(lambda x: len(x)>1)]['genres'].value_counts().sample(50))
top_genres_res={}
for i in top_genres:
    top_genres_res[movies.iloc[i]['movie_id']]=movies.iloc[i]['title']

pd.DataFrame(list(top_genres_res.items()), columns=['movie_id','title']).to_csv("top_genres.csv")

top_gnr = pd.read_csv("top_genres.csv").head(5)
top_gnr.drop("Unnamed: 0", inplace=True, axis=1)
top_gnr

for i in range(len(top_gnr)):
    print(top_gnr.iloc[i]['title'])

Pirates of the Caribbean: At World's End
Spectre
The Chronicles of Narnia: Prince Caspian
Spider-Man 3
The Dark Knight Rises

In [ ]:
# # Top watches

# top_watch=list(movies[movies['title'].apply(lambda x: len(x)>1)]['title'].value_counts())

# top_watch_res={}
# for i in top_watch:
#     top_watch_res[movies.iloc[i]['title']]=movies.iloc[i]['movie_id']
# top_watch_res

# Top movies

In [76]:
movies['title'].value_counts()

Out of the Blue       4
The Host              4
Batman                4
Undiscovered          1
Beneath Hill 60       1
                     ..
Secondhand Lions      1
The Age of Adaline    1
Drag Me to Hell       1
Southpaw              1
My Date with Drew     1
Name: title, Length: 4797, dtype: int64

In [80]:
movies[movies['title']=='Out of the Blue']

,movie_id,title,overview,genres,keywords,cast,crew,tags
3652,39269,Out of the Blue,"[Dennis, Hopper, is, a, hard-drinking, truck, ...",[drama],"[punk, independentfilm, comingofage, teenagegi...","[dennishopper, raymondburr, sharonfarrell]",[dennishopper],"[Dennis, Hopper, is, a, hard-drinking, truck, ..."
3653,39269,Out of the Blue,"[Ordinary, people, find, extraordinary, courag...",[drama],"[newzealand, gunrampage, police, independentfi...","[dennishopper, raymondburr, sharonfarrell]",[dennishopper],"[Ordinary, people, find, extraordinary, courag..."
3654,10844,Out of the Blue,"[Dennis, Hopper, is, a, hard-drinking, truck, ...",[drama],"[punk, independentfilm, comingofage, teenagegi...","[karlurban, tandiwright, simonferry]",[robertsarkies],"[Dennis, Hopper, is, a, hard-drinking, truck, ..."
3655,10844,Out of the Blue,"[Ordinary, people, find, extraordinary, courag...",[drama],"[newzealand, gunrampage, police, independentfi...","[karlurban, tandiwright, simonferry]",[robertsarkies],"[Ordinary, people, find, extraordinary, courag..."

In [77]:
top_mov=list(movies['title'].value_counts())[:6]
top_mov_res={}
for i in top_mov:
    print(movies.iloc[i]['movie_id'],movies.iloc[i]['title'])
    top_mov_res[movies.iloc[i]['movie_id']]=movies.iloc[i]['title']

# pd.DataFrame(list(top_mov_res.items()), columns=['movie_id','title']).to_csv("top_mov.csv")

# top_mov = pd.read_csv("top_mov.csv")
# top_mov.drop("Unnamed: 0", inplace=True, axis=1)
# top_mov

# for i in range(len(top_mov)):
#     print(top_mov.iloc[i]['title'])

49529 John Carter
49529 John Carter
49529 John Carter
285 Pirates of the Caribbean: At World's End
285 Pirates of the Caribbean: At World's End
285 Pirates of the Caribbean: At World's End

In [ ]:
top_mov = pd.DataFrame(movies[['title','movie_id']].value_counts()).reset_index().drop_duplicates(subset=['title','movie_id'])
top_mov = top_mov.drop(columns=[0]).head(10)
top_mov.to_csv("top_trend_mov.csv")
top_mov.reset_index(inplace=True)

In [ ]:
top_mov[top_mov['movie_id']==1535]['title'].to_list()[0]

In [ ]:
top_title = top_mov[top_mov['movie_id']==10535]['title'].to_list()[0]
top_id = top_mov[top_mov['movie_id']==10535]['movie_id'].to_list()[0]

top_id, top_title

In [ ]:
for i in range(5):
    print(top_mov.iloc[i]['movie_id'],top_mov.iloc[i]['title'] )

In [ ]:
movies[movies['title']=='The 40 Year Old Virgin']

In [ ]:
# top_trend_mov_res={}
# for i in top_trend_mov:
#     top_trend_mov_res[movies.iloc[i]['movie_id']]=movies.iloc[i]['title']

pd.DataFrame(movies['movie_id'].value_counts()).to_csv("top_trend_mov.csv")

top_mov = pd.read_csv("top_trend_mov.csv")
# top_mov.drop("Unnamed: 0", inplace=True, axis=1)
# top_mov = top_mov.drop("count")
# top_mov[top_mov['movie_id']==1255]['movie_id'][0]
# for i in range(len(top_mov)):
#     print(top_mov.iloc[i]['title'])

top_mov

In [ ]:
top_mov.iloc[0]['movie_id']

In [ ]:
movies[movies['movie_id']==top_mov.iloc[0]['movie_id']]

In [ ]:
top_mov.iloc[3]['movie_id']

In [ ]:
top_trend_mov

In [ ]:
movies[movies['movie_id']==top_mov.iloc[3]['movie_id']]['title'].iloc[0]

In [ ]:
movies[movies['movie_id']==top_mov.iloc[0]['movie_id']]['title'].iloc[0]

# Recomendation based on title

In [ ]:
new.head()

In [ ]:
new.shape

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
for i in range(4809):
    if i not in new['title'].index:
        print(i)

In [ ]:
# new = new.reset_index(drop= True)
# new

In [ ]:
vector = cv.fit_transform(new['tags']).toarray()

In [ ]:
vector.shape

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vector)

In [ ]:
similarity[:1]

In [ ]:
new[new['title'] == 'The Lego Movie']['movie_id'].values[0]

In [ ]:
new[new['title']=='My Date with Drew'].index[0]

In [ ]:
len(similarity)

In [ ]:
# movies = movies.reset_index(drop=True)
# movies

In [ ]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index-1])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [ ]:
recommend("Pirates of the Caribbean: At World's End")

In [ ]:
new[new['title'] == 'The Lego Movie'].index[0]

In [ ]:
['Mrs. Doubtfire', 'The Exorcist', 'The Number 23', 'American Pie', 'Jaws']

In [ ]:
import pickle

In [ ]:
# pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

# posters

In [ ]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir('posters/') if isfile(join('posters/', f))]

In [ ]:
onlyfiles = [int(x.split(".")[0]) for x in onlyfiles]

In [ ]:
remaining_posters=[x for x in list(movies.movie_id) if x not in onlyfiles]

In [ ]:
len(remaining_posters)

In [ ]:
import requests
import os
import pandas as pd
def fetch_poster(movie_id):
    url = "https://api.themoviedb.org/3/movie/{}?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US".format(movie_id)
    data = requests.get(url)
    data = data.json()
    poster_path = data['poster_path']
    full_path = "https://image.tmdb.org/t/p/w500/" + poster_path
    return full_path
movies = pd.read_csv('movie_list.csv')
movie_list = movies['movie_id'].values

for idx, id in enumerate(remaining_posters[1:]):
    print(id)
    # URL of the image to download
    try:
        image_url = fetch_poster(id)
        # Send a GET request to the image URL
        response = requests.get(image_url)
        # Check if the request was successful (status code 200)
        if response.status_code == 200:
            # Get the file name from the URL
            destination_path = "posters/"+str(id)+".jpg"
            print(destination_path)
            os.makedirs(os.path.dirname(destination_path), exist_ok=True)
            # Save the image to a file
            with open(destination_path, "wb") as file:
                file.write(response.content)
                print("Image downloaded successfully.")
        else:
            print("Failed to download image. Status code:", response.status_code)
    except:
        print(id, "not available")